USE [master]
GO
/****** Object:  Database [BOOK_STORE]    Script Date: 23/11/2022 6:21:45 AM ******/
CREATE DATABASE [BOOK_STORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOK_STORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BOOK_STORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOOK_STORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BOOK_STORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOK_STORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOK_STORE]
GO
/****** Object:  Table [dbo].[CHINHNHANH_CH]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHNHANH_CH](
	[MA_CHINHANH] [nchar](10) NOT NULL,
	[TEN_CHINHANH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
 CONSTRAINT [PK_CHINHNHANH_CH] PRIMARY KEY CLUSTERED 
(
	[MA_CHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](10) NOT NULL,
	[NGAYBAN] [date] NULL,
	[NHANVIEN_MA] [nchar](10) NULL,
	[TONGTIEN] [int] NULL,
	[GIAGIAM] [int] NULL,
	[KHACHHANG_MA] [nchar](10) NULL,
	[VITRI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_CT](
	[HOADON_MA] [nchar](10) NOT NULL,
	[SANPHAM_MA] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[KHUYENMAI] [int] NULL,
 CONSTRAINT [PK_HOADON_CT] PRIMARY KEY CLUSTERED 
(
	[HOADON_MA] ASC,
	[SANPHAM_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TEN_KH] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NHOM_MA] [int] NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG_NHOM]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG_NHOM](
	[MALOAI_KH] [int] IDENTITY(1,1) NOT NULL,
	[NHOM_KH] [nvarchar](50) NULL,
	[UUDAI] [int] NULL,
 CONSTRAINT [PK_NHOM_KH] PRIMARY KEY CLUSTERED 
(
	[MALOAI_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI_LOAIHINH]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI_LOAIHINH](
	[MALOAI_KM] [int] IDENTITY(1,1) NOT NULL,
	[TIEN_TU] [int] NULL,
	[TIEN_CUOI] [int] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[TRANGTHAI] [bit] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_KHUYENMAI_LOAIHINH] PRIMARY KEY CLUSTERED 
(
	[MALOAI_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MA_NCC] [nchar](10) NOT NULL,
	[TEN_NCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[STK] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[QUYENHAN_MA] [nchar](10) NULL,
	[TK] [nvarchar](50) NULL,
	[MK] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_QUYEN]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_QUYEN](
	[MA_QUYEN] [nchar](10) NOT NULL,
	[TEN_QUYEN] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MA_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_QUYEN_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_QUYEN_CT](
	[MA_QUYEN_CT] [nchar](10) NOT NULL,
	[CODE_NAME] [nchar](10) NULL,
	[QUYENNV_MA] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN_QUYEN_CT] PRIMARY KEY CLUSTERED 
(
	[MA_QUYEN_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NO_NHACUNGCAP]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NO_NHACUNGCAP](
	[MA_NCC] [nchar](10) NOT NULL,
	[MA_PHIEUNHAP] [nchar](10) NOT NULL,
	[THANHTIEN] [int] NULL,
	[CONNO] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NO_NHACUNGCAP_1] PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC,
	[MA_PHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[MA_PHIEUCHI] [nchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[NGAYLAP] [date] NULL,
	[NHANVIEN] [nchar](10) NULL,
	[TONGTIEN] [int] NULL,
	[GHICHU] [nvarchar](500) NULL,
	[CHINHANH] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUCHI] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEUCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHI_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHI_CT](
	[MA_PHIEUCHI_CT] [nchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK_PHIEUCHI_CT] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MA_PHIEUCHI_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHUYEN_KHO]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHUYEN_KHO](
	[MA_PCK] [nchar](10) NOT NULL,
	[NHANVIEN_MA] [nchar](10) NULL,
	[CHINHANH_MA] [nchar](10) NULL,
	[NGAYXUAT] [date] NULL,
	[NOIXUAT_MA] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUCHUYEN_KHO] PRIMARY KEY CLUSTERED 
(
	[MA_PCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHUYEN_KHO_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHUYEN_KHO_CT](
	[PCK_MA] [nchar](10) NOT NULL,
	[SANPHAM_MA] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_PHIEUCHUYEN_KHO_CT_1] PRIMARY KEY CLUSTERED 
(
	[PCK_MA] ASC,
	[SANPHAM_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP_KT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP_KT](
	[MA_PNK] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[NHANVIEN_MA] [nchar](10) NULL,
	[NHACUNGCAP_MA] [nchar](10) NULL,
	[TONGTIEN] [int] NULL,
	[CONNO] [int] NULL,
	[VITRI_NHAP] [nchar](10) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_PHIEUNHAP_KT] PRIMARY KEY CLUSTERED 
(
	[MA_PNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP_KT_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP_KT_CT](
	[PNK_MA] [nchar](10) NOT NULL,
	[TENSANPHAM_MA] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP_KT_CT_1] PRIMARY KEY CLUSTERED 
(
	[PNK_MA] ASC,
	[TENSANPHAM_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_CH]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_CH](
	[MASP_CH] [nchar](10) NOT NULL,
	[TENSP_CH] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[KHUYENMAI] [int] NULL,
	[GIABAN] [int] NOT NULL,
	[HINH] [nvarchar](50) NULL,
	[THELOAI] [int] NULL,
	[VITRI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SANPHAM_CH] PRIMARY KEY CLUSTERED 
(
	[MASP_CH] ASC,
	[VITRI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_LOAI]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_LOAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANPHAM_LOAI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOQUY]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOQUY](
	[ID] [nchar](10) NOT NULL,
	[NGAY] [date] NULL,
	[TIENDAUNGAY] [int] NULL,
	[TIENCUOINGAY] [int] NULL,
	[CHINHANH] [nchar](10) NULL,
 CONSTRAINT [PK_SỖ QUỸ_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOQUY_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOQUY_CT](
	[MA_SOQUY] [nchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[TO_500] [int] NULL,
	[TO_200] [int] NULL,
	[TO_100] [int] NULL,
	[TO_50] [int] NULL,
	[TO_20] [int] NULL,
	[TO_10] [int] NULL,
	[TO_5] [int] NULL,
	[TO_2] [int] NULL,
	[TO_1] [int] NULL,
	[TO_0_5] [int] NULL,
 CONSTRAINT [PK_SOQUY_CT] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MA_SOQUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[MATON] [nchar](10) NOT NULL,
	[VITRI_HANG] [nchar](10) NULL,
	[TEN_NHANVIEN] [nchar](10) NULL,
	[NGAYKIEM] [date] NULL,
	[TONG_THATTHOAT] [int] NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[MATON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO_CT]    Script Date: 23/11/2022 6:21:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO_CT](
	[TONKH_MA] [nchar](10) NOT NULL,
	[SANPHAM_MA] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[SL_THUCTE] [int] NULL,
	[GIA_TB_NHAP] [int] NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_TONKHO_CT] PRIMARY KEY CLUSTERED 
(
	[TONKH_MA] ASC,
	[SANPHAM_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHNHANH_CH] ([MA_CHINHANH], [TEN_CHINHANH], [DIACHI]) VALUES (N'CH001     ', N'Z-BOOK CHI NHÁNH 1', N'Kha Vạn Cân, Đường Linh Trung, TP Thủ Đức.')
INSERT [dbo].[CHINHNHANH_CH] ([MA_CHINHANH], [TEN_CHINHANH], [DIACHI]) VALUES (N'CH002     ', N'Z-BOOK CHI NHÁNH 2', N'Nguyễn Văn Luông, Phường 11, Quận 6, TP Hồ Chí Minh')
INSERT [dbo].[CHINHNHANH_CH] ([MA_CHINHANH], [TEN_CHINHANH], [DIACHI]) VALUES (N'CH003     ', N'Z-BOOK STORE', N'Bến Nghé, Quận 1, Thành phố Hồ Chí Minh')
GO
INSERT [dbo].[HOADON] ([MAHD], [NGAYBAN], [NHANVIEN_MA], [TONGTIEN], [GIAGIAM], [KHACHHANG_MA], [VITRI]) VALUES (N'HD001_001 ', CAST(N'2022-11-08' AS Date), N'NV001     ', 22500, 2500, N'KH001     ', N'CH001     ')
INSERT [dbo].[HOADON] ([MAHD], [NGAYBAN], [NHANVIEN_MA], [TONGTIEN], [GIAGIAM], [KHACHHANG_MA], [VITRI]) VALUES (N'HD001_002 ', CAST(N'2022-11-08' AS Date), N'NV001     ', 18000, 2000, N'KH001     ', N'CH002     ')
INSERT [dbo].[HOADON] ([MAHD], [NGAYBAN], [NHANVIEN_MA], [TONGTIEN], [GIAGIAM], [KHACHHANG_MA], [VITRI]) VALUES (N'HD002_001 ', CAST(N'2022-11-08' AS Date), N'NV001     ', 50000, 0, N'KH001     ', N'CH001     ')
GO
INSERT [dbo].[HOADON_CT] ([HOADON_MA], [SANPHAM_MA], [SOLUONG], [DONGIA], [KHUYENMAI]) VALUES (N'HD001_001 ', N'SP001     ', 1, 25000, 2500)
INSERT [dbo].[HOADON_CT] ([HOADON_MA], [SANPHAM_MA], [SOLUONG], [DONGIA], [KHUYENMAI]) VALUES (N'HD001_002 ', N'SP002     ', 1, 20000, 2000)
INSERT [dbo].[HOADON_CT] ([HOADON_MA], [SANPHAM_MA], [SOLUONG], [DONGIA], [KHUYENMAI]) VALUES (N'HD002_001 ', N'SP011     ', 10, 50000, 0)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN_KH], [SDT], [DIACHI], [NHOM_MA]) VALUES (N'KH001     ', N'Khách vãng lai', NULL, NULL, 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN_KH], [SDT], [DIACHI], [NHOM_MA]) VALUES (N'KH002     ', N'Nguyễn Văn Thịnh', N'0384657222', N'TP. HCM', 2)
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN_KH], [SDT], [DIACHI], [NHOM_MA]) VALUES (N'KH003     ', N'DDD', N'0167888346', N'TP. HCM', 2)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG_NHOM] ON 

INSERT [dbo].[KHACHHANG_NHOM] ([MALOAI_KH], [NHOM_KH], [UUDAI]) VALUES (1, N'Vãng Lai', 0)
INSERT [dbo].[KHACHHANG_NHOM] ([MALOAI_KH], [NHOM_KH], [UUDAI]) VALUES (2, N'Thân Quen', 5)
SET IDENTITY_INSERT [dbo].[KHACHHANG_NHOM] OFF
GO
INSERT [dbo].[NHACUNGCAP] ([MA_NCC], [TEN_NCC], [DIACHI], [STK], [SDT]) VALUES (N'NCC001    ', N'Thuận Tiến', N'A54/2 KCN Vĩnh Lộc', N'951753123', N'7003565')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [CHUCVU], [QUYENHAN_MA], [TK], [MK]) VALUES (N'NV001     ', N'Nguyễn Văn Thịnh', CAST(N'1997-06-12' AS Date), N'A2/25 ấp 1 BCX ', N'0328852185', N'quản lý', N'Q001      ', N'admin', N'admin')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [CHUCVU], [QUYENHAN_MA], [TK], [MK]) VALUES (N'NV002     ', N'Lữ Phước Lộc', CAST(N'2022-10-22' AS Date), N'a3/7 Lai Vung , TP. Đồng Tháp', N'0385552145', N'Nhân viên', N'Q002      ', N'nhanvien1', N'nhanvien1')
GO
INSERT [dbo].[NHANVIEN_QUYEN] ([MA_QUYEN], [TEN_QUYEN], [MOTA]) VALUES (N'Q001      ', N'Admin', N'Thao túng toàn bộ')
INSERT [dbo].[NHANVIEN_QUYEN] ([MA_QUYEN], [TEN_QUYEN], [MOTA]) VALUES (N'Q002      ', N'Bán hàng', N'Chỉ bán hàng thôi')
GO
INSERT [dbo].[NO_NHACUNGCAP] ([MA_NCC], [MA_PHIEUNHAP], [THANHTIEN], [CONNO], [TRANGTHAI]) VALUES (N'NCC001    ', N'PNK002    ', 20000000, 5000000, N'ĐÃ THANH TOÁN')
INSERT [dbo].[NO_NHACUNGCAP] ([MA_NCC], [MA_PHIEUNHAP], [THANHTIEN], [CONNO], [TRANGTHAI]) VALUES (N'NCC001    ', N'PNK015    ', 19200000, 5000000, N'ĐÃ THANH TOÁN')
INSERT [dbo].[NO_NHACUNGCAP] ([MA_NCC], [MA_PHIEUNHAP], [THANHTIEN], [CONNO], [TRANGTHAI]) VALUES (N'NCC001    ', N'PNK017    ', 6800000, 3000000, N'CHỜ XỬ LÝ')
GO
INSERT [dbo].[PHIEUCHI] ([MA_PHIEUCHI], [NOIDUNG], [NGAYLAP], [NHANVIEN], [TONGTIEN], [GHICHU], [CHINHANH]) VALUES (N'PC001     ', N'Tiền điện_Tháng 10', CAST(N'2022-11-17' AS Date), N'NV001     ', 1200000, NULL, N'CH001     ')
INSERT [dbo].[PHIEUCHI] ([MA_PHIEUCHI], [NOIDUNG], [NGAYLAP], [NHANVIEN], [TONGTIEN], [GHICHU], [CHINHANH]) VALUES (N'PC002     ', N'Tiền nước_Tháng 10', CAST(N'2022-11-17' AS Date), N'NV002     ', 600000, NULL, N'CH001     ')
INSERT [dbo].[PHIEUCHI] ([MA_PHIEUCHI], [NOIDUNG], [NGAYLAP], [NHANVIEN], [TONGTIEN], [GHICHU], [CHINHANH]) VALUES (N'PC003     ', N'Đồng phục nhân viên', CAST(N'2022-11-20' AS Date), N'NV001     ', 6750000, N'', N'0         ')
GO
INSERT [dbo].[PHIEUCHI_CT] ([MA_PHIEUCHI_CT], [STT], [NOIDUNG], [SOLUONG], [GIA]) VALUES (N'PC001     ', 1, N'Tiền điện', 1, 1200000)
INSERT [dbo].[PHIEUCHI_CT] ([MA_PHIEUCHI_CT], [STT], [NOIDUNG], [SOLUONG], [GIA]) VALUES (N'PC002     ', 1, N'Tiền nước', 1, 600000)
INSERT [dbo].[PHIEUCHI_CT] ([MA_PHIEUCHI_CT], [STT], [NOIDUNG], [SOLUONG], [GIA]) VALUES (N'PC003     ', 1, N'đồng phục nữ', 15, 150000)
GO
INSERT [dbo].[PHIEUCHUYEN_KHO] ([MA_PCK], [NHANVIEN_MA], [CHINHANH_MA], [NGAYXUAT], [NOIXUAT_MA]) VALUES (N'PCK001    ', N'NV001     ', N'CH002     ', CAST(N'2022-11-15' AS Date), N'CH001     ')
INSERT [dbo].[PHIEUCHUYEN_KHO] ([MA_PCK], [NHANVIEN_MA], [CHINHANH_MA], [NGAYXUAT], [NOIXUAT_MA]) VALUES (N'PCK002    ', N'NV001     ', N'CH002     ', CAST(N'2022-11-16' AS Date), N'CH001     ')
INSERT [dbo].[PHIEUCHUYEN_KHO] ([MA_PCK], [NHANVIEN_MA], [CHINHANH_MA], [NGAYXUAT], [NOIXUAT_MA]) VALUES (N'PCK003    ', N'NV001     ', N'CH002     ', CAST(N'2022-11-22' AS Date), N'CH001     ')
GO
INSERT [dbo].[PHIEUCHUYEN_KHO_CT] ([PCK_MA], [SANPHAM_MA], [SOLUONG]) VALUES (N'PCK001    ', N'SP001     ', 5)
INSERT [dbo].[PHIEUCHUYEN_KHO_CT] ([PCK_MA], [SANPHAM_MA], [SOLUONG]) VALUES (N'PCK001    ', N'SP002     ', 5)
INSERT [dbo].[PHIEUCHUYEN_KHO_CT] ([PCK_MA], [SANPHAM_MA], [SOLUONG]) VALUES (N'PCK001    ', N'SP004     ', 1)
GO
INSERT [dbo].[PHIEUNHAP_KT] ([MA_PNK], [NGAYNHAP], [NHANVIEN_MA], [NHACUNGCAP_MA], [TONGTIEN], [CONNO], [VITRI_NHAP], [TRANGTHAI]) VALUES (N'PNK001    ', CAST(N'2022-11-07' AS Date), N'NV001     ', N'NCC001    ', 10000000, 0, N'CH001     ', 1)
INSERT [dbo].[PHIEUNHAP_KT] ([MA_PNK], [NGAYNHAP], [NHANVIEN_MA], [NHACUNGCAP_MA], [TONGTIEN], [CONNO], [VITRI_NHAP], [TRANGTHAI]) VALUES (N'PNK002    ', CAST(N'2022-11-07' AS Date), N'NV002     ', N'NCC001    ', 20000000, 0, N'CH002     ', 1)
INSERT [dbo].[PHIEUNHAP_KT] ([MA_PNK], [NGAYNHAP], [NHANVIEN_MA], [NHACUNGCAP_MA], [TONGTIEN], [CONNO], [VITRI_NHAP], [TRANGTHAI]) VALUES (N'PNK003    ', CAST(N'2022-11-08' AS Date), N'NV001     ', N'NCC001    ', 6500000, 0, N'CH001     ', 1)
GO
INSERT [dbo].[PHIEUNHAP_KT_CT] ([PNK_MA], [TENSANPHAM_MA], [SOLUONG], [GIANHAP]) VALUES (N'PNK001    ', N'SP001     ', 10, 15000)
INSERT [dbo].[PHIEUNHAP_KT_CT] ([PNK_MA], [TENSANPHAM_MA], [SOLUONG], [GIANHAP]) VALUES (N'PNK001    ', N'SP002     ', 10, 10000)
INSERT [dbo].[PHIEUNHAP_KT_CT] ([PNK_MA], [TENSANPHAM_MA], [SOLUONG], [GIANHAP]) VALUES (N'PNK002    ', N'SP001     ', 15, 15000)
GO
INSERT [dbo].[SANPHAM_CH] ([MASP_CH], [TENSP_CH], [SOLUONG], [DONVITINH], [KHUYENMAI], [GIABAN], [HINH], [THELOAI], [VITRI]) VALUES (N'SP001     ', N'Đại số 10', 130, N'Cuốn', 10, 25000, N'sgk_ds10.jpg', 1, N'CH001     ')
INSERT [dbo].[SANPHAM_CH] ([MASP_CH], [TENSP_CH], [SOLUONG], [DONVITINH], [KHUYENMAI], [GIABAN], [HINH], [THELOAI], [VITRI]) VALUES (N'SP001     ', N'Đại số 10', 140, N'Cuốn', 10, 25000, N'sgk_ds10.jpg', 1, N'CH002     ')
INSERT [dbo].[SANPHAM_CH] ([MASP_CH], [TENSP_CH], [SOLUONG], [DONVITINH], [KHUYENMAI], [GIABAN], [HINH], [THELOAI], [VITRI]) VALUES (N'SP001     ', N'Đại số 10', 100, N'Cuốn', 10, 25000, N'sgk_ds10.jpg', 1, N'CH003     ')
GO
SET IDENTITY_INSERT [dbo].[SANPHAM_LOAI] ON 

INSERT [dbo].[SANPHAM_LOAI] ([ID], [TENLOAI]) VALUES (1, N'Sách giáo khoa')
INSERT [dbo].[SANPHAM_LOAI] ([ID], [TENLOAI]) VALUES (2, N'Sách khoa học')
INSERT [dbo].[SANPHAM_LOAI] ([ID], [TENLOAI]) VALUES (3, N'Sách ngôn tình')
SET IDENTITY_INSERT [dbo].[SANPHAM_LOAI] OFF
GO
INSERT [dbo].[SOQUY] ([ID], [NGAY], [TIENDAUNGAY], [TIENCUOINGAY], [CHINHANH]) VALUES (N'Q001_001  ', CAST(N'2022-11-17' AS Date), 2500000, 14500000, N'CH001     ')
INSERT [dbo].[SOQUY] ([ID], [NGAY], [TIENDAUNGAY], [TIENCUOINGAY], [CHINHANH]) VALUES (N'Q001_002  ', CAST(N'2022-11-18' AS Date), 3100000, 12900000, N'CH002     ')
INSERT [dbo].[SOQUY] ([ID], [NGAY], [TIENDAUNGAY], [TIENCUOINGAY], [CHINHANH]) VALUES (N'Q001_003  ', CAST(N'2022-11-18' AS Date), 0, 0, N'CH003     ')
GO
INSERT [dbo].[SOQUY_CT] ([MA_SOQUY], [STT], [TO_500], [TO_200], [TO_100], [TO_50], [TO_20], [TO_10], [TO_5], [TO_2], [TO_1], [TO_0_5]) VALUES (N'Q001_001  ', 1, NULL, 5, 5, 10, 10, 20, 10, 20, 10, NULL)
INSERT [dbo].[SOQUY_CT] ([MA_SOQUY], [STT], [TO_500], [TO_200], [TO_100], [TO_50], [TO_20], [TO_10], [TO_5], [TO_2], [TO_1], [TO_0_5]) VALUES (N'Q001_002  ', 1, 0, 5, 10, 10, 11, 20, 30, 10, 10, 0)
INSERT [dbo].[SOQUY_CT] ([MA_SOQUY], [STT], [TO_500], [TO_200], [TO_100], [TO_50], [TO_20], [TO_10], [TO_5], [TO_2], [TO_1], [TO_0_5]) VALUES (N'Q001_004  ', 1, 0, 2, 10, 10, 10, 30, 30, 20, 10, 0)
GO
INSERT [dbo].[TONKHO] ([MATON], [VITRI_HANG], [TEN_NHANVIEN], [NGAYKIEM], [TONG_THATTHOAT]) VALUES (N'TK001     ', N'CH002     ', N'NV001     ', CAST(N'2022-11-14' AS Date), 62500)
INSERT [dbo].[TONKHO] ([MATON], [VITRI_HANG], [TEN_NHANVIEN], [NGAYKIEM], [TONG_THATTHOAT]) VALUES (N'TK002     ', N'0         ', N'NV001     ', CAST(N'2022-11-14' AS Date), 0)
INSERT [dbo].[TONKHO] ([MATON], [VITRI_HANG], [TEN_NHANVIEN], [NGAYKIEM], [TONG_THATTHOAT]) VALUES (N'TK003     ', N'0         ', N'NV001     ', CAST(N'2022-11-14' AS Date), 197547)
GO
INSERT [dbo].[TONKHO_CT] ([TONKH_MA], [SANPHAM_MA], [SOLUONG], [SL_THUCTE], [GIA_TB_NHAP], [GHICHU]) VALUES (N'TK001     ', N'SP001     ', 209, 209, 14747, NULL)
INSERT [dbo].[TONKHO_CT] ([TONKH_MA], [SANPHAM_MA], [SOLUONG], [SL_THUCTE], [GIA_TB_NHAP], [GHICHU]) VALUES (N'TK001     ', N'SP002     ', 9, 9, 16000, NULL)
INSERT [dbo].[TONKHO_CT] ([TONKH_MA], [SANPHAM_MA], [SOLUONG], [SL_THUCTE], [GIA_TB_NHAP], [GHICHU]) VALUES (N'TK001     ', N'SP005     ', 50, 50, 60333, N'')
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([KHACHHANG_MA])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([NHANVIEN_MA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON_CT]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CT_HOADON1] FOREIGN KEY([HOADON_MA])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[HOADON_CT] CHECK CONSTRAINT [FK_HOADON_CT_HOADON1]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_KHACHHANG_NHOM] FOREIGN KEY([NHOM_MA])
REFERENCES [dbo].[KHACHHANG_NHOM] ([MALOAI_KH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_KHACHHANG_NHOM]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NHANVIEN_QUYEN] FOREIGN KEY([QUYENHAN_MA])
REFERENCES [dbo].[NHANVIEN_QUYEN] ([MA_QUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NHANVIEN_QUYEN]
GO
ALTER TABLE [dbo].[NHANVIEN_QUYEN_CT]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUYEN_CT_NHANVIEN_QUYEN] FOREIGN KEY([QUYENNV_MA])
REFERENCES [dbo].[NHANVIEN_QUYEN] ([MA_QUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN_QUYEN_CT] CHECK CONSTRAINT [FK_NHANVIEN_QUYEN_CT_NHANVIEN_QUYEN]
GO
ALTER TABLE [dbo].[NO_NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NO_NHACUNGCAP_NHACUNGCAP] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[NO_NHACUNGCAP] CHECK CONSTRAINT [FK_NO_NHACUNGCAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[NO_NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NO_NHACUNGCAP_PHIEUNHAP_KT] FOREIGN KEY([MA_PHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP_KT] ([MA_PNK])
GO
ALTER TABLE [dbo].[NO_NHACUNGCAP] CHECK CONSTRAINT [FK_NO_NHACUNGCAP_PHIEUNHAP_KT]
GO
ALTER TABLE [dbo].[PHIEUCHI_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHI_CT_PHIEUCHI] FOREIGN KEY([MA_PHIEUCHI_CT])
REFERENCES [dbo].[PHIEUCHI] ([MA_PHIEUCHI])
GO
ALTER TABLE [dbo].[PHIEUCHI_CT] CHECK CONSTRAINT [FK_PHIEUCHI_CT_PHIEUCHI]
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYEN_KHO_CHINHNHANH_CH] FOREIGN KEY([CHINHANH_MA])
REFERENCES [dbo].[CHINHNHANH_CH] ([MA_CHINHANH])
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO] CHECK CONSTRAINT [FK_PHIEUCHUYEN_KHO_CHINHNHANH_CH]
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYEN_KHO_CHINHNHANH_CH1] FOREIGN KEY([NOIXUAT_MA])
REFERENCES [dbo].[CHINHNHANH_CH] ([MA_CHINHANH])
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO] CHECK CONSTRAINT [FK_PHIEUCHUYEN_KHO_CHINHNHANH_CH1]
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYEN_KHO_NHANVIEN] FOREIGN KEY([NHANVIEN_MA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO] CHECK CONSTRAINT [FK_PHIEUCHUYEN_KHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYEN_KHO_CT_PHIEUCHUYEN_KHO] FOREIGN KEY([PCK_MA])
REFERENCES [dbo].[PHIEUCHUYEN_KHO] ([MA_PCK])
GO
ALTER TABLE [dbo].[PHIEUCHUYEN_KHO_CT] CHECK CONSTRAINT [FK_PHIEUCHUYEN_KHO_CT_PHIEUCHUYEN_KHO]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KT_NHACUNGCAP] FOREIGN KEY([NHACUNGCAP_MA])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KT] CHECK CONSTRAINT [FK_PHIEUNHAP_KT_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KT_NHANVIEN] FOREIGN KEY([NHANVIEN_MA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KT] CHECK CONSTRAINT [FK_PHIEUNHAP_KT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KT_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KT_CT_PHIEUNHAP_KT] FOREIGN KEY([PNK_MA])
REFERENCES [dbo].[PHIEUNHAP_KT] ([MA_PNK])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KT_CT] CHECK CONSTRAINT [FK_PHIEUNHAP_KT_CT_PHIEUNHAP_KT]
GO
ALTER TABLE [dbo].[SANPHAM_CH]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CH_CHINHNHANH_CH] FOREIGN KEY([VITRI])
REFERENCES [dbo].[CHINHNHANH_CH] ([MA_CHINHANH])
GO
ALTER TABLE [dbo].[SANPHAM_CH] CHECK CONSTRAINT [FK_SANPHAM_CH_CHINHNHANH_CH]
GO
ALTER TABLE [dbo].[SANPHAM_CH]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CH_SANPHAM_LOAI] FOREIGN KEY([THELOAI])
REFERENCES [dbo].[SANPHAM_LOAI] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM_CH] CHECK CONSTRAINT [FK_SANPHAM_CH_SANPHAM_LOAI]
GO
ALTER TABLE [dbo].[SOQUY]  WITH CHECK ADD  CONSTRAINT [FK_SOQUY_CHINHNHANH_CH] FOREIGN KEY([CHINHANH])
REFERENCES [dbo].[CHINHNHANH_CH] ([MA_CHINHANH])
GO
ALTER TABLE [dbo].[SOQUY] CHECK CONSTRAINT [FK_SOQUY_CHINHNHANH_CH]
GO
ALTER TABLE [dbo].[SOQUY_CT]  WITH CHECK ADD  CONSTRAINT [FK_SOQUY_CT_SOQUY] FOREIGN KEY([MA_SOQUY])
REFERENCES [dbo].[SOQUY] ([ID])
GO
ALTER TABLE [dbo].[SOQUY_CT] CHECK CONSTRAINT [FK_SOQUY_CT_SOQUY]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_NHANVIEN] FOREIGN KEY([TEN_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TONKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[TONKHO_CT]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_CT_TONKHO] FOREIGN KEY([TONKH_MA])
REFERENCES [dbo].[TONKHO] ([MATON])
GO
ALTER TABLE [dbo].[TONKHO_CT] CHECK CONSTRAINT [FK_TONKHO_CT_TONKHO]
GO
USE [master]
GO
